<div id="<%= dom_id survey %>">
  <p>
    <strong>Title:</strong>
    <%= survey.title %>
  </p>

  <p>
    <strong>Islive:</strong>
    <%= survey.isLive %>
  </p>

  <p>
    <strong>Wentliveat:</strong>
    <%= survey.wentLiveAt %>
  </p>

</div>
